
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by <a target="__blank" href="https://github.com/ElliotMonde" >Elliot Phua 2022</a></p>
  </div>
</div>

</body>
</html>
