<%-include("partials/header");%>
<div id="postContainer">
<h1 class="post_h1"><%=postTitle%></h1>
<p class="post_body"><%=postBody%></p>
<a class="btn btn-primary" href="/">Back</a>
</div>
<%-include("partials/footer");%>
